#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: calc(100vw - 2rem);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wc-button {
  align-send: flex-end;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.connect-wrapper {
  display: flex;
  justify-content: center;
}
