[submodule "projects/use-wallet"]
	path = projects/use-wallet
	url = https://github.com/TxnLab/use-wallet
[submodule "projects/use-wallet-ui"]
	path = projects/use-wallet-ui
	url = git@github.com:TxnLab/use-wallet-ui.git
